@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

input {
    height: 40px;
    margin-top: 8px;
    border: outset 5px purple;
    outline: none;
    background-color: rgba(116, 71, 155, 0.8);
    color: rgb(0, 38, 255);
    text-align: center;
}

.error {
    margin-top: 0.8rem;
    margin-bottom: -1rem;
    color: rgba(255, 0, 0, 0.5);
}

.winMessage {
    font-size: 1.6rem;
    color: rgb(33, 211, 33);
    text-align: center;
}

.startButton {
    position: relative;
}

.startButton > button {
    position: absolute;
    left: 27%;
}

.equalButton {
    padding: 10px;
}

.center {
    position: relative;
}

.centerer .toBeCentered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.note {
    font-size: 0.9rem;
    color:rgba(184, 184, 184, 0.9)
}

.content {
    padding-top: 1.1rem;
}

.shape {
    display: block;
    margin-left: auto;
    margin-right: auto 
}

/*.goBackButton {

}

.endButtons {

}

.playAgainButton {

}
*/

.divider {
    width:66px;
    height:auto;
    display:inline-block;
}

.tictactoefield:focus {
    background-color: black ;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
