@inject GameStateService GameStateService;
@inject NavigationManager uriHelper;

    @if (GameStateService.AcquireGameState() != null)
    {
        <p>You have an unfinished Game, want to start a new Game or resume it?</p>
        <button class="btn btn-success" @onclick="Resume">Resume</button>
        <button class="btn btn-success" @onclick="NewGame">New Game</button>

        @*if(shouldBeResumed)
        {
            <Tictactoe
                Tictactoegame="@tictactoe"
            ></Tictactoe>
        }*@
    }

