@page "/tictactoe"
@inject NavigationManager uriHelper;
@inject GameMatrixService gms;




@if (tictactoe.PlayerChosenShape.Equals(Shape.None))
{

    <h1>Ready to tic tac toe?</h1>

    <p>Then choose a shape</p>
    <div>
        <img width="64" src="https://upload.wikimedia.org/wikipedia/commons/f/f8/X_G.png"
        alt="Letter X representing cross shape">
        <button class="btn-primary" @onclick="ChooseCross">Choose Cross</button>
    </div>
    <div>
        <img width="64" src="https://www.vhv.rs/file/max/20/201990_red-circle-png.png" alt="circle shape">
        <button class="btn-primary" @onclick="ChooseCircle">Choose Circle</button>
    </div>

    bool playerStarts = tictactoe.WhoStarts();
    tictactoe.PlayerStarts = playerStarts;
    if(playerStarts)
    {
        <p>You will start first</p>
    } else
    {
        <p>The AI will start first</p>
    }
}
else
{
    <div style="position: fixed;">
        @if (!WinMessage.Equals(String.Empty))
        {
            <p class="winMessage">@WinMessage</p>
        }
        <p>Click on one of the squares and then click on the confirm button</p> <br>

        <PrintGameMatrix 
            GameMatrix="@gms.GameMatrix"
        />

        @if (tictactoe.IsPositionAvailablePlayer())
        {
            <button class="btn-primary" @onclick="tictactoe.TicTacToeRunTime">Confirm</button>
        } 
        <br>
        <br>
        <a href="../"><button class="btn btn-danger">Go Back</button></a>
        <button class="btn btn-danger" @onclick="RefreshPage">Play Again</button>
    </div>
}


