@page "/tictactoe"

@if (this.PlayerChosenShape.Equals(Shape.None))
{
    <h1>Ready to tic tac toe?</h1>

    <p>Then choose a shape</p>
    <div>
        <img width="64" src="https://upload.wikimedia.org/wikipedia/commons/f/f8/X_G.png"
        alt="Letter X representing cross shape">
        <button @onclick="ChooseCross">Choose Cross</button>
    </div>
    <div>
        <img width="64" src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Red_Circle_3.png" alt="circle shape">
        <button @onclick="ChooseCircle">Choose Circle</button>
    </div>
}
else if (this.PlayerChosenShape.Equals(Shape.Cross))
{
    <p>Hello,</p>
    <img width="512" src="https://www.publicdomainpictures.net/pictures/260000/velka/tic-tac-toe-1526789164NkQ.jpg" alt="tictactoe board">

}
else if (this.PlayerChosenShape.Equals(Shape.Circle))
{
    <p>Planet!</p>
    <img width="512" src="https://www.publicdomainpictures.net/pictures/260000/velka/tic-tac-toe-1526789164NkQ.jpg" alt="tictactoe board">
}

@code {
    private TicTacToe ticTacToe;
    private Shape playerChosenShape = Shape.None;
    private Shape aiChosenShape;



    public Shape AiChosenShape
    {
        get => this.aiChosenShape;

        set
        {
            this.aiChosenShape = value;
        }
    }

    public Shape PlayerChosenShape
    {
        get => this.playerChosenShape;
        set
        {
            this.playerChosenShape = value;
        }
    }

    public void ChooseCross()
    {

        this.PlayerChosenShape = Shape.Cross;
        this.AiChosenShape = Shape.Circle;
        //this.TicTacToeRunTime();
    }

    public void ChooseCircle()
    {
        this.PlayerChosenShape = Shape.Circle;
        this.AiChosenShape = Shape.Cross;
        this.TicTacToeRunTime();
    }

    private bool playerStartsFirst;

    public void TicTacToeRunTime()
    {
        ticTacToe = new TicTacToe(this.PlayerChosenShape, this.AiChosenShape);
        this.playerStartsFirst = TicTacToePreparations.WhoStarts();
    }
    //TODO: create gamematrix, availablepos, saveuserPos and saveaiPos
}
